body {
    background-color: lightgray;
}
.header-text-container{
    color: antiquewhite;
    background-color: black;
    padding: 10px;
    text-align: justify;
}
.image-container{
    border-radius: 100%;
}
#profile-image{
    border-radius: 100%;
}